Licenta-plan.txt
Sablon Licenta.docx
Proiect_style_transfer/
Proiect_FMA/

Proiect_1/Data/
Proiect_1/Images/
Proiect_1/Models/
Proiect_1/test.ipynb

Proiect_2/.cache
Proiect_2/images_labels.csv
Proiect_2/test.py

Proiect_3/Data/
Proiect_3/Models/
Proiect_3/output.png
Proiect_3/test.ipynb

Proiect_G2G/data/
Proiect_G2G/scripts/__pycache__/
Proiect_G2G/__pycache__/
Proiect_G2G/models/__pycache__/
Proiect_G2G/models/__init__.py
Proiect_G2G/muse/__pycache__/
Proiect_G2G/experiments/eval/
Proiect_G2G/experiments/v01/
Proiect_G2G/experiments/v01_drums/
Proiect_G2G/experiments/v01_drums_vel/
Proiect_G2G/experiments/v01_vel/
Proiect_G2G/eval/__init__.py

Proiect_4/Jazz_midi/
